.card {
  align-items: center;
  display: flex;
  flex-direction: row;
  border-radius: 0px!important;
}
.card-title {
  font-weight: bold;
}
.card img {
  border-top-right-radius: 0;
  border-bottom-left-radius: calc(0.25rem - 1px);
}
.card img{
  width: 17vw;
  height: 16em;
}
@media only screen and (max-width: 600px) {
  .card-contait{
      flex-direction: column!important;
  }
  .card-contait img{
    width: 100%!important;
  }
}