/* You can add global styles to this file, and also import other style files */
.form-control {
    border-radius: 0!important;
} 
.btn {
    border-radius: 0!important;
} 
input.ng-dirty.ng-invalid {
    border: 1px #dc3545 solid!important;
}
/* repsonsive */
@media only screen and (max-width: 600px) {
    nav{
        display: flex;
        justify-content: center!important;
        align-items: center!important;
    }
    .col-sm-4{
        margin-top: 20px!important;
    }
    .card mb-6{
        flex-direction: column!important;
    }
}